body{
	background: url(../images/bg-dark.jpg) repeat;
}
.A1, .A2 {
	margin-top:30px;
}
.A1 div, .A2 div {
	position:absolute;
}
.A1 .tri-hole{
	margin-left:45px;
	z-index: 2;
}
.A1 .trap{
	z-index: 2;
	margin-left:27px;
}
.A2 .tri-hole{
	margin-left:81px;
	z-index: 4;
}
.A2 .trap{
	z-index: 4;
	margin-left:63px;
}
.A2 .tri{
	z-index:3;
	margin-left:36px;
	border-bottom: 120px solid white; 
}
.tri {
	width: 0; 
	height: 0; 
	border-bottom: 120px solid darkred; 
	border-left: 60px solid transparent; 
	border-right: 60px solid transparent; 
}
.trap {
	height: 0; 
	width: 67px;
	margin-top:110px;
	border-bottom: 20px solid #060227;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.tri-hole {
	margin-top: 60px;
	width: 0;
	height: 0;
	border-bottom: 30px solid #060227;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}
.tri-top {
	position:absolute;
	margin-top: 3px;
	width:0;
	height:0;
	margin-left: 67px;
	border-bottom: 24px solid darkred;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}
#signature {
	position:fixed;
	bottom: 0;
	right: 0;
	width: 175px;
	height: 175px;
}
.vert-white{
	background-color:white;
	position:fixed;
	height:100%;
	z-index: -1;
	width: 4px;
}
.horiz-white{
	background-color:white;
	position:fixed;
	height: 2px;
	width: 100%;
	z-index: -1;
}
ul {
	list-style: none outside;
	margin-bottom: 10px;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
a, a:visited{
	color: #333;
}
img {
	margin:0;
	padding:0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.about {
	text-align: center;
	margin-top: 60px;
}
.about ul {                                                                  
     margin-bottom: 10px;
}
 
.about ul li {
	display: inline;
	margin: 0 3px;
}
 
.about ul a:hover {
	opacity: 0.7;
}

a:-webkit-any-link {
	cursor: auto;
}
li {
	line-height: 18px
	text-align: -webkit-match-parent;
}
p.t-name {
	font-size: 28px;
	font-weight: 600;
	font-family: 'Contrail One', cursive;
	text-transform: uppercase;
	color: white;
	margin-top: 15px;
	margin-bottom: 0;
}
p.t-type {
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	color: #707070;
	margin-bottom: 10px;
}