<div>
  <div class="twelve columns about">
  <div class="two columns"></div>
  <div class="eight columns">
    <img src="images/about-pic.png" alt="">
    <p class="t-name">Arvind Srinivasan</p>
    <p class="t-type">Programmer, Writer, Burrito Aficionado</p>
    <ul>
      <li><a href="#"><img src="images/icn-github.png" alt=""></a></li>
      <li><a href="#"><img src="images/icn-twitter.png" alt=""></a></li>
      <li><a href="#"><img src="images/icn-mail.png" alt=""></a></li>
      <li><a href="#"><img src="images/icn-linkedin.png" alt=""></a></li>
    </ul>
  </div>
  <div class="two columns"></div>
</div>
</div>