<!DOCTYPE html>

<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<title>Arvind Srinivasan</title>
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="stylesheets/app.css">
	<link rel="stylesheet" href="css/arvnd.css">
	<script src="javascripts/foundation/modernizr.foundation.js"></script>
</head>

<body>

	<div class="horiz-white" style="top: 4%"></div>
	<div class="horiz-white" style="top: 5%"></div>
	<div class="horiz-white" style="top: 6%"></div>
	<div class="vert-white" style="right: 15%"></div>
	<div class="vert-white" style="right: 16%"></div>
	<div class="vert-white" style="right: 17%"></div>
	<div class="vert-white" style="right: 18%"></div>
	<div class="vert-white" style="right: 19%"></div>
	<div id="signature" style="display:inline-block">
		<div class="top-tri" style="position:relative">
			<div class="tri-top"></div>
		</div>
		<div class="A1" style="position:relative">
			<div class="tri-hole"></div>
			<div class="tri"></div>
			<div class="trap"></div>
		</div>
		<div class="A2" style="position:relative">
			<div class="tri-hole"></div>
			<div class="tri"></div>
			<div class="trap"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="twelve columns" style="margin-top:5%">
			<div class="eight columns">
				{{& yield}}
			</div>
		</div>
	</div>
	<!-- Included JS Files (Uncompressed) -->
	<script src="javascripts/foundation/jquery.js"></script>
  <!-- Application Javascript, safe to override -->
  <script src="javascripts/foundation/app.js"></script>
</body>
</html>
